<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="62414BjrnDahlgren.Irkki" Publisher="CN=CBD44951-A1D9-4B64-8C13-55B2654549D5" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="f7e6be24-2cd0-4ff4-b6b1-0f54c330dbb4" PhonePublisherId="280dc7c0-47c0-4f9a-bfcb-ba5366dedce8" />
  <Properties>
    <DisplayName>Irkki</DisplayName>
    <PublisherDisplayName>Björn Dahlgren</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="xf7e6be24y2cd0y4ff4yb6b1y0f54c330dbb4x" Executable="AGHost.exe" EntryPoint="LoginPage.xaml">
      <m3:VisualElements DisplayName="Irkki" Square150x150Logo="Assets\SquareTile150x150.png" Square44x44Logo="Assets\Logo.png" Description="Unofficial client for IRCCloud" ForegroundText="light" BackgroundColor="#464646">
        <m3:DefaultTile Square71x71Logo="Assets\SquareTile71x71.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="SplashScreenImage.jpg" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>